<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Page</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
</head>
<body>
    <h1>Hi, Welcome to Django Level Two</h1>
    <h2>Here are you're access records:</h2>

    <div class="djangotwo">
        {% if access_records %}
            <table>
                <thead>
                    <th>Site Name</th>
                    <th>Date Accessed</th>
                </thead>

                {% for acc in access_records %}
                <tr>
                    <td>{{ acc.name }}</td>
                    <td>{{ acc.data }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>NO ACCESS RECORDS FOUND</p>
        {% endif %}
    <div>
</body>
</html>