h1{
	font-family: 'JetBrains Mono', monospace;
	text-align: center;
}

table{
	margin:auto;
}

td{
	border: 5px solid white;
	height: 300px;
	width: 100px;
}

#one{
	background: #F72585;
}

#two{
	background: #B5179E;
}

#three{
	background: #7209B7;
}

#four{
	background: #560BAD;
}

#five{
	background: #480CA8;
}

#six{
	background: #3A0CA3;
}

#seven{
	background: #3F37C9;
}

#eight{
	background: #4361EE;
}

#nine{
	background: #4895EF;
}

#ten{
	background: #4CC9F0;
}
