 /* Change h1 font */
h1{
	font-family: "Arial"
}

/* Change p font */
p{
	font-family: monospace;
}

/* Change body font size */
body{
	font-size: 18px;
}

/* Change two index in em */
#two{
	font-size: 2.0em;
}

/* Change p font style and weight */
p{
	font-style: italic;
	font-weight: bold;
}

/* Change h1 to align text */
h1{
	text-align: center;
}

/* Default browser size:
1em = 16px
2em = 32px */
